/*fitnessProject*/
#fitnessProject {
    background-image: url("../images/banner_pro.jpg");
    width: 100%;
    height: auto;
    padding: 80px 0 50px 0;
    background-repeat: no-repeat;
    background-position: center top;

}

.textContent {
    width: 100%;
    text-align: center;
    color: #ffffff;

}

.textContent h4 {
    font-family: "MyriadPro-Bold";
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
}

.textContent h5 {
    font-size: 14px;
    margin-top: -10px;
}
/*ecological*/
#ecological{
   overflow: hidden;
}
#ecological .eleco_item{
    padding: 60px 0;
    border-bottom: 1px solid #e4e2da;
}
.eleco_item_img{
  /*  width: 400px;*/
    height: auto;
    opacity: 0.7;  /*兼容没写*/

    transition: all 0.5s linear ;
    -webkit-transition: all 0.5s linear ;
    -moz-transition: all 0.5s linear ;
    -o-transition: all 0.5s linear ;
    -ms-transition: all 0.5s linear ;
}
.eleco_item .content:hover .eleco_item_img{
    opacity: 1;
    transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
}

.text_info p{
    font-size: 14px;
    line-height: 24px;
    color: #434343;
    margin-top: 10px;
}
.text_info .learnMore{
    margin-top:8%;
    background-image:url("../images/learn01.png") ;
    background-position: 100px center;
    background-repeat: no-repeat;
    text-indent: 20px;
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: #936f32;
    border-top: 1px solid #936f32;
    border-bottom: 1px solid #936f32;
    transition: all 0.3s linear ;
    -webkit-transition: all 0.3s linear ;
    -moz-transition: all 0.3s linear ;
    -o-transition: all 0.3s linear ;
    -ms-transition: all 0.35s linear ;
}

.learnMore:hover{
    background:#936f32;
    color: #ffffff;
    background-image:url("../images/learn02.png") ;
    background-position: 100px center;
    background-repeat: no-repeat;
}

/*trend*/
#trend{
    width: 100%;
    background-color: #000000;
    background-image: url("../images/mainBg.jpg");
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    color: #ffffff;
    height:400px;
}
#trend .container{
    padding-top: 150px;
    text-align: center;

}
#trend h4{
    font-size:45px;
    margin-bottom: 30px;
    font-family: "MyriadPro-Bold";
}
#trend h5{
    font-size: 18px;
}
@media (max-width: 767px) {
    #ecological .content{
        width: 92%;
        margin: 0 auto;
        text-align: center;
    }

    .eleco_item_div{
        text-align: center;
    }
    .eleco_item_div>a{
        display: inline-block;
    }
    .text_info{
       /*text-align: center;*/
        margin-top: 10px;
    }
    .text_info h3{
        font-size: 20px;
    }


    .eleco_item_a{
        display: block;
        background:#000000;
        width: 400px;
        height: 267px;
        overflow: hidden;
    }
    .eleco_item_img{
        width: 400px;
        height: auto;

    }
    .text_info{
        margin-top: 30px;
    }
    .text_info .learnMore{
        text-indent: -50px;
    }
}

@media (min-width: 768px) {


    .textContent h4 {
        font-size: 40px;
    }

    .textContent h5 {
        font-size: 20px;
    }
    #ecological .content{
        width: 95%;
        margin: 0 auto;
    }
    .eleco_item_a{
        display: block;
        background:#000000;
        width: 350px;
        height: 233px;
        overflow: hidden;
    }
    .eleco_item_img{
        width: 350px;
        height: auto;

    }
    .text_info p{
        margin-top: 20px;
    }
    .text_info .learnMore{
        margin-top:15%;

    }
    #trend{
      height: 700px;
    }
    #trend .container{
        padding-top: 250px;
    }
    #trend h4{
        font-size:65px;
    }
    #trend h5{
        font-size: 26px;
    }

}

@media (min-width: 992px) {
    #fitnessProject {
        padding: 120px 0 60px 0;
    }
    .project{
        width: 95%;
    }
    #ecological .content{
        width: 90%;
        margin: 0 auto;
    }
    .eleco_item_a{
        display: block;
        background:#000000;
        width: 400px;
        height: 267px;
        overflow: hidden;
    }
    .eleco_item_img{
        width: 400px;

    }
    #trend h4{
        font-size:80px;
    }
    #trend h5{
        font-size: 30px;
    }


}

@media (min-width: 1200px) {
    .project{
        width: 90%;
    }
    /*#ecological .content{
        width: 92%;
        margin: 0 auto;
    }*/
    #ecological .content{
       max-width: 1000px;
        margin: 0 auto;
    }

    /*.eleco_item_a{
        display: block;
        background:#000000;
        width: 400px;
        height: 267px;
        overflow: hidden;
    }
    .eleco_item_img{
        width: 400px;

    }*/
}